﻿
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Tate Electricals</title>
    <meta name="description" content="" />
    <meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <!-- WEB FONTS : use %7C instead of | (pipe) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- THEME CSS -->
    <link href="/assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/layout.css" rel="stylesheet" type="text/css" />

    <!-- PAGE LEVEL SCRIPTS -->
    <link href="/assets/css/header-1.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />

    <!-- REVOLUTION SLIDER -->
    <link href="/assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
    <link href="/assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />

    <!--New  JS-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/NavHeader.js"></script>
    <!--New csss-->
    <link href="~/css/Custom.css" rel="stylesheet" />


</head>


<body class="smoothscroll enable-animation">

    <!-- SLIDE TOP -->
    <div id="slidetop" class="">

        <div class="container" style="display: none;">

            <div class="row">

                <div class="col-md-4">
                    <h6><i class="icon-heart"></i> WHY SMARTY?</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa. </p>
                </div>

                <div class="col-md-4">
                    <h6><i class="fa-facheck"></i> RECENTLY VISITED</h6>
                    <ul class="list-unstyled">
                        <li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> This is a very long text, very very very very very very very very very very very very </a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Lorem ipsum dolor sit amet</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Dolor sit amet,consectetur adipiscing elit amet</a></li>
                        <li><a href="#"><i class="fa fa-angle-right"></i> Consectetur adipiscing elit amet,consectetur adipiscing elit</a></li>
                    </ul>
                </div>

                <div class="col-md-4">
                    <h6><i class="icon-envelope"></i> CONTACT INFO</h6>
                    <ul class="list-unstyled">
                        <li><b>Address:</b> PO Box 21132, Here Weare St, <br> Melbourne, Vivas 2355 Australia</li>
                        <li><b>Phone:</b> 1-800-565-2390</li>
                        <li><b>Email:</b> <a href="mailto:support@yourname.com">support@yourname.com</a></li>
                    </ul>
                </div>

            </div>

        </div>

        <a class="slidetop-toggle" href="#"><!-- toggle button --></a>

    </div>
    <!-- /SLIDE TOP -->
    <!-- wrapper -->
    <div id="wrapper">




        <div id="header" class="navbar-toggleable-md sticky dark header-md translucent b-0 clearfix">


            <header id="topNav">
                <div class="container">
                    <!-- add .full-container for fullwidth -->
                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- BUTTONS -->
                    <ul class="pull-right nav nav-pills nav-second-main">

                        <!-- User -->
                        <li class="search">
                            <a href="javascript:;">
                                <i class="fa fa-user"></i>
                            </a>
                            <div class="search-box text-center">                               
                                <button class="btn btn-info btn-block " type="button" onclick="uLogout();"><i class="fa fa-power-off">&nbsp;</i>LOGOUT</button>
                                    
                            </div>
                        </li>
                        <!-- /User -->


                    </ul>
                    <!-- /BUTTONS -->
                    <!-- Logo -->
                    <a class="logo float-left" id="logoHome" onclick="NavMenu(this.id)">
                        <img src="assets/images/_smarty/logo_light.png" alt="">
                    </a>

                    <!--
                        Top Nav

                        AVAILABLE CLASSES:
                        submenu-dark = dark sub menu
                    -->
                    <div class="navbar-collapse collapse nav-main-collapse nav-animate-zoomIn float-left submenu-dark pl-100">
                        <nav class="nav-main">

                            <!--
                                NOTE

                                For a regular link, remove "dropdown" class from LI tag and "dropdown-toggle" class from the href.
                                Direct Link Example:

                                <li>
                                    <a href="#">HOME</a>
                                </li>
                            -->
                            <ul id="topMain" class="nav nav-pills nav-main">
                                <li class="dropdown nav-animate-zoomIn active" id="Home" onclick="NavMenu(this.id)">

                                    <a class="">
                                        HOME
                                    </a>

                                </li>


                                <li class="dropdown nav-animate-zoomIn">

                                    <a class="dropdown-toggle">
                                        MASTER
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li id="cDept">
                                            <a class="">
                                                Department
                                            </a>
                                        </li>


                                        <li id="cmsed">
                                            <a class="">
                                                MSED Division
                                            </a>
                                        </li>


                                    </ul>

                                </li>





                            </ul>




                        </nav>
                    </div>

                </div>
            </header>


        </div>


        <!-- REVOLUTION SLIDER -->

        <div id="Pview" class="mt-70">
            <section id="slider" class="fullheight fullwidthbanner-container roundedcorners margin-bottom-10">

                <div class="fullscreenbanner" data-navigationStyle="preview4">
                    <ul class="hide">

                        <!-- SLIDE -->
                        <li data-transition="fade" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 2" data-thumb="demo_files/images/video/neuron_thumb.jpg">

                            <img src="/assets/images/_smarty/1x1.png" data-lazyload="/demo_files/images/video/neuron.jpg" alt="video" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <div class="tp-caption tp-fade fadeout fullscreenvideo"
                                 data-x="0"
                                 data-y="0"
                                 data-speed="1000"
                                 data-start="1100"
                                 data-easing="Power4.easeOut"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1500"
                                 data-endeasing="Power4.easeIn"
                                 data-autoplay="true"
                                 data-autoplayonlyfirsttime="false"
                                 data-nextslideatend="true"
                                 data-volume="mute"
                                 data-forceCover="1"
                                 data-aspectratio="16:9"
                                 data-forcerewind="on" style="z-index: 2;">

                                <div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>

                                <video class="fullvideo" preload="none" poster="demo_files/images/video/neuron.jpg">
                                    <source src="demo_files/images/video/neuron.webm" type="video/webm" />
                                    <source src="demo_files/images/video/neuron.mp4" type="video/mp4" />
                                </video>

                            </div>

                            <div class="tp-caption customin ltl tp-resizeme text_white"
                                 data-x="center"
                                 data-y="180"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1000"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3;">
                                <span class="weight-300">YOUR FAVORITE MULTIPURPOSE TEMPLATE</span>
                            </div>

                            <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                                 data-x="center"
                                 data-y="230"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1200"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3;">
                                WELCOME TO Tate Electricals
                            </div>

                            <div class="tp-caption customin ltl tp-resizeme small_light_white"
                                 data-x="center"
                                 data-y="350"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1400"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3; width: 750px; max-width: 750px; white-space: normal; text-align:center;">
                                Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae philosophia cu mea.
                            </div>

                            <div class="tp-caption customin ltl tp-resizeme"
                                 data-x="center"
                                 data-y="438"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1550"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 3;">
                                <a href="#purchase" class="btn btn-default btn-lg">
                                    <span>Purchase Tate Electricals Now</span>
                                </a>
                            </div>

                        </li>

                        <!-- SLIDE  -->
                        <li data-transition="random" data-slotamount="1" data-masterspeed="1000" data-saveperformance="off" data-title="Slide title 1" data-thumb="demo_files/images/150x99/27-min.jpg">

                            <img src="/assets/images/_smarty/1x1.png" data-lazyload="/demo_files/images/1200x800/31-min.jpg" alt="" data-bgfit="cover" data-bgposition="center bottom" data-bgrepeat="no-repeat" />

                            <div class="overlay dark-4"><!-- dark overlay [1 to 9 opacity] --></div>

                            <div class="tp-caption customin ltl tp-resizeme text_white"
                                 data-x="center"
                                 data-y="180"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1000"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 10;">
                                <span class="weight-300">DEVELOPMENT / MARKETING / DESIGN / PHOTO</span>
                            </div>

                            <div class="tp-caption customin ltl tp-resizeme large_bold_white"
                                 data-x="center"
                                 data-y="230"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1200"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 10;">
                                WELCOME TO Tate Electricals
                            </div>

                            <div class="tp-caption customin ltl tp-resizeme small_light_white"
                                 data-x="center"
                                 data-y="350"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1400"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 10; width: 750px; max-width: 750px; white-space: normal; text-align:center;">
                                Fabulas definitiones ei pri per recteque hendrerit scriptorem in errem scribentur mel fastidii propriae philosophia cu mea.
                            </div>

                            <div class="tp-caption customin ltl tp-resizeme"
                                 data-x="center"
                                 data-y="438"
                                 data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                 data-speed="800"
                                 data-start="1550"
                                 data-easing="easeOutQuad"
                                 data-splitin="none"
                                 data-splitout="none"
                                 data-elementdelay="0.01"
                                 data-endelementdelay="0.1"
                                 data-endspeed="1000"
                                 data-endeasing="Power4.easeIn" style="z-index: 10;">
                                <a href="#purchase" class="btn btn-default btn-lg">
                                    <span>Purchase Tate Electricals Now</span>
                                </a>
                            </div>

                        </li>

                    </ul>
                </div>
            </section>
        </div>

        <footer id="footer">
            <div class="container">

                <div class="row">

                    <div class="col-md-2">
                        <!-- Footer Logo -->
                        <img class="footer-logo" src="/assets/images/_smarty/logo-footer.png" alt="">

                        <!-- Small Description -->
                        <!-- Contact Address -->
                        <!-- /Contact Address -->

                    </div>




                    <div class="col-md-3">
                        <!-- Footer Logo -->
                        <!-- Small Description -->
                        <!-- Contact Address -->
                        <address>
                            <ul class="list-unstyled" style="
">
                                <li class="footer-sprite address">
                                    PO Box 21132<br>
                                    Here Weare St, Melbourne<br>
                                    Vivas 2355 Australia<br>
                                </li>


                            </ul>
                        </address>
                        <!-- /Contact Address -->

                    </div><div class="col-md-3">
                        <!-- Footer Logo -->
                        <!-- Small Description -->
                        <!-- Contact Address -->
                        <address>
                            <ul class="list-unstyled">

                                <li class="footer-sprite phone">
                                    Phone: 1-800-565-2390
                                </li>
                                <li class="footer-sprite email">
                                    <a href="mailto:support@yourname.com">support@yourname.com</a>
                                </li>
                            </ul>
                        </address>
                        <!-- /Contact Address -->

                    </div><div class="col-md-3">

                        <!-- Newsletter Form -->
                        <h4 class="letter-spacing-1">KEEP IN TOUCH</h4>



                        <!-- /Newsletter Form -->
                        <!-- Social Icons -->
                        <div class="margin-top-20">
                            <a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">

                                <i class="icon-facebook"></i>
                                <i class="icon-facebook"></i>
                            </a>

                            <a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                <i class="icon-twitter"></i>
                                <i class="icon-twitter"></i>
                            </a>

                            <a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google plus">
                                <i class="icon-gplus"></i>
                                <i class="icon-gplus"></i>
                            </a>

                            <a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                <i class="icon-linkedin"></i>
                                <i class="icon-linkedin"></i>
                            </a>

                            <a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Rss">
                                <i class="icon-rss"></i>
                                <i class="icon-rss"></i>
                            </a>

                        </div>
                        <!-- /Social Icons -->

                    </div>

                </div>

            </div>

            <div class="copyright">
                <div class="container">
                    <ul class="pull-right nomargin list-inline mobile-block">
                        <li><a href="#">Terms &amp; Conditions</a></li>
                        <li>•</li>
                        <li><a href="#">Privacy</a></li>
                    </ul>
                    © All Rights Reserved, Company LTD
                </div>
            </div>
        </footer>

    </div>
    <!-- /wrapper -->
    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>


    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div><!-- /PRELOADER -->
    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript">var plugin_path = '/assets/plugins/';</script>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery-2.2.3.min.js"></script>

    <script type="text/javascript" src="/assets/js/scripts.js"></script>

    <!-- STYLESWITCHER - REMOVE -->
    <script async type="text/javascript" src="/demo_files/styleswitcher/styleswitcher.js"></script>

    <!-- REVOLUTION SLIDER -->
    <script type="text/javascript" src="/assets/plugins/slider.revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/assets/plugins/slider.revolution/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/assets/js/view/demo.revolution_slider.js"></script>

    <script>
        function uLogout() {
            debugger;
            $.ajax({
                data: {},
                type: "GET",
                dataType: "json",
                url: window.location.origin + "/Logout",
            }).done(function (result) {
              
                     window.location.href = '@Url.Action("LoginPage", "Home")';
              

            }).fail(function (textStatus, errorThrown) {
                debugger;
                alert(textStatus);
            });
        }

    </script>
</body>
</html>