﻿<style>
  /*  .disabled {
        pointer-events: none;
        color: grey;
        cursor:not-allowed;
    }*/
</style>
<section class="page-header page-header-xs mt-70">
    <div class="container">

        <h1 class="text-center">GETPASS FOR OIL </h1>

        <!-- breadcrumbs
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Login</li>
        </ol> /breadcrumbs -->

    </div>
</section>
<div class="defaultvw">



    <div class="row ">
        <div class="col-md-2"></div>

        <div class="row heading-title  heading-color heading-border-bottom">
            <div class="col-md-8 ">
                <h4><span></span></h4>
            </div>
            <div class="col-md-4 pull-right">
                <a id="btnAdd" class="pull-right text-capitalize btn btn-primary">Create New</a>
            </div>

        </div>

        <div id="listtbl" class="col-md-12">
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr class="info">
                        <th>MSED</th>
                        <th>Token No</th>
                        <th>Date </th>
                        <th>Vehical No.</th>
                        <th>Driver Name</th>
                        <th>Received Oil</th>
                        <th>Rquired Oil</th>
                        <th>Type</th>
                        <th>Receiver Name</th>
                    </tr>
                </thead>
                <tbody>
                    @*<tr>
                    <td>PC-166</td>
                    <td>wnp</td>
                    <td>100/11</td>
                    <td>wnp</td>
                    <td>200</td>
                    <td>200</td>
                    <td>200</td>
                    <td><a><span class="fa fa-trash"></span></a><a><span class="fa fa-edit ml-10"></span></a></td>
                </tr>*@


                </tbody>
            </table>

            <!--Pagination-->
            <nav aria-label="...">
                <ul class="pagination" id="trnPagn">
                    <li class="page-item disabled" id="pageindexPre" onclick="Paging(this.id,0);">
                        <a class="page-link" tabindex="-1">Previous</a>
                    </li>

                    <li class="page-item" id="pageindex1" onclick="Paging(this.id,1);"><a class="page-link">1</a></li>
                    <li class="page-item active" id="pageindex2" onclick="Paging(this.id,2);">
                        <a class="page-link">2</a>
                    </li>
                    <li class="page-item" id="pageindex3" onclick="Paging(this.id,3);"><a class="page-link">3</a></li>
                    <li class="page-item" id="pageindexNxt" onclick="Paging(this.id,4);">
                        <a class="page-link">Next</a>
                    </li>
                </ul>
            </nav>

            <input id="hdfcurrentPage" type="hidden" value="1" />
            <input id="hdfLastPage" type="hidden" value="3" />

            <!--/Pagination-->
        </div>


        <div class="col-md-8" id="additem">

            <!-- ------ -->
            <div class="panel panel-default">
                <div class="panel-heading panel-heading-transparent">
                    <strong>DETAILS OF OIL</strong>
                </div>

                <div class="panel-body">

                    <form id="OilGatePass">
                        <fieldset>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12">
                                        <label>MSED Division *</label>
                                        <select name="contact[position]" class="form-control pointer required" id="Omsed" msg="Selec MSED Division">
                                            <option value=" ">--- Select ---</option>
                                            @{
                                                if (ViewBag.MSED != null)
                                                    foreach (var item in ViewBag.MSED)
                                                    {
                                                        <option value=@item.MsebDetailID>@item.MsebName</option>

                                                    }

                                            }
                                        </select>
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <label>Gatepass No*</label>
                                        <input type="text" name="contact[Getpass_No]" value="" class="form-control required" regx="/^[0-9a-zA-Z]+$/" msg="Enter GatePass Number" id="OGetPass">
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6">
                                        <label>Date *</label>
                                        <input type="date" value="" class="form-control required" msg="Enter Gate Pass Date" id="Odate">
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label>Vehical No *</label>
                                        <input type="text" value="" class="form-control required" regx="/^[0-9a-zA-Z]+$/" msg="Enter Vehical No." id="OVno">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-6 col-sm-6">
                                        <label>Driver Name *</label>
                                        <input type="text" value="" class="form-control required" regx="/^[0-9a-zA-Z]+$/" msg="Enter Driver Name" id="ODName">
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <label>Oil Quantity *</label>
                                        <input type="text" value="" class="form-control required" regx="/^[0-9]+$/" msg="Enter Oil Quantity" id="OQ">
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6">
                                        <label>Material Reciever *</label>
                                        <input type="text" value="" class="form-control required" regx="/^[0-9a-zA-Z]+$/" msg="Enter Material Reciever Name" id="OmrName">
                                    </div>

                                </div>
                            </div>





                        </fieldset>

                        <div class="row">
                            <div class="col-md-12 text-center">
                                <input id="btnCancel" type="button" class="btn btn-primary text-uppercase " value="Cancel" />
                                <input type="button" class="btn btn-primary text-uppercase " value="clear" id="btnClearDept" />
                                <input type="button" class="btn btn-primary" value="SAVE" id="SaveOil" />
                            </div>
                        </div>

                    </form>

                </div>

            </div>
            <!-- /----- -->

        </div>
    </div>
</div>

<script type="text/javascript">
        $(document).ready(function () {

       
            GetOilDetails(1);
            $('#additem').hide();

            $('#btnAdd').click(function (e) {
                $('#additem').show();
                $('#btnAdd').hide();
                $('#listtbl').hide();


            });

            $('#btnCancel').click(function (e) {
                document.getElementById('OilGatePass').reset();
                $('#OilGatePass').find('input,textarea').css('border', '');
              //  document.getElementById('SaveDpt').value = 'Save';
                //ModifyDeptID = null;
                //ModifyDeptUserId = null;
                //$('#OilGatePass').find('span').remove();
                $('#additem').hide();
                $('#listtbl').show();
                $('#btnAdd').show();
                GetOilDetails();

            });
            $('#btnClearDept').click(function (e) {
                document.getElementById('OilGatePass').reset();
                $('#OilGatePass').find('input,textarea').css('border', '');
                $('#OilGatePass').find('span').remove();
            });

        });

    function Paging(pageID, index) {
        debugger;

        if (pageID == 'pageindexNxt') {

            if ($('#pageindexNxt').hasClass('disabled'))
                return false;
            var ind = parseInt($("#hdfcurrentPage").val()) + 1;

            $("#hdfcurrentPage").val(ind);
            index = ind;
        }
        else if (pageID == 'pageindexPre') {
            if ($('#pageindexPre').hasClass('disabled'))
                return false;
            var ind = parseInt($("#hdfcurrentPage").val()) - 1;

            $("#hdfcurrentPage").val(ind);
            index = ind;
        }
        $("#hdfcurrentPage").val(index);
        GetOilDetails();
        $(".active").removeClass('active');
        if (pageID != 'pageindexPre' && pageID != 'pageindexNxt')
            $("#" + pageID + "").addClass('active');

       

    }
</script>