﻿@*<style>
    /* Styles go here */

    .page-header, .page-header-space {
        height: 100px;
    }

    .page-footer, .page-footer-space {
        height: 100px;
    }

    .page-footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 1px solid black; /* for demo */
    }

    .page-header {
        position: fixed;
        width: 100%;
        border-bottom: 1px solid black; /* for demo */
    }



    .page {
        page-break-after: always;
    }

    @page {
        margin: 20mm
    }

    @media print {
        thead {
            display: table-header-group;
        }

        tfoot {
            display: table-footer-group;
        }

        button {
            display: none;
        }

        body {
            margin: 0;
        }
    }

    .graph-7 {
        background: url(../img/graphs/graph-7.jpg) no-repeat;
    }

    .graph-image img {
        display: none;
    }
</style>*@

<section class="page-header page-header-xs mt-70">
    <div class="container">

        <h1 class="text-center">GATEPASS FOR TRANSFORMER</h1>

        <!-- breadcrumbs
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Login</li>
        </ol> /breadcrumbs -->

    </div>
</section>
<div class="defaultvw">

    <div id="Printdiv">
      
    </div>


    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-8">


            <div class="panel panel-default">



                <div class="panel-body">

                    <form id="TGatePass">
                        <fieldset>

                            <div class="heading-title heading-line-double mt-30">
                                <h4>DETAILS OF <span>GATEPASS</span></h4>
                            </div>


                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-12">
                                        <label>MSED Division *</label>
                                        <select name="contact[position]" class="form-control pointer required" id="TMsed" msg="Selec MSED Division">
                                            <option value=>--- Select ---</option>
                                            @{
                                                if (ViewBag.MSED != null)
                                                    foreach (var item in ViewBag.MSED)
                                                    {
                                                        <option value=@item.MsebDetailID>@item.MsebName</option>

                                                    }

                                            }
                                        </select>
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <label>Gatepass No*</label>
                                        <input type="text" name="contact[Getpass_No]" value="" class="form-control required" regx="^[0-9]+$" id="TgPassNo" msg="Enter Gate Pass Number">
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6">
                                        <label>Date *</label>
                                        <input type="date" name="contact[Date]" class="date-pick form-control required" id="TDate" msg="Enter Date">
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label>Vehical No *</label>
                                        <input type="text" name="contact[Vehical_no]" value="" class="form-control required" regx="^[0-9a-zA-Z]+$" id="TvNo" msg="Enter Vehical No">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-6 col-sm-6">
                                        <label>Driver Name *</label>
                                        <input type="text" name="contact[Driver_Name]" value="" class="form-control required" regx="^[0-9a-zA-Z]+$" id="TDName" msg="Enter Driver Name">
                                    </div>

                                    <div class="col-md-6 col-sm-12">
                                        <label>Assigned Unit *</label>
                                        <select name="contact[position]" class="form-control pointer required" id="ATunit" msg="Select Assigned Unit">
                                            @{
                                                if (ViewBag.deptinfo != null)
                                                    {
                                                        <option value=@ViewBag.deptinfo.DepartmentId>@ViewBag.deptinfo.DeptName</option>

                                                    }

                                            }


                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6">
                                        <label>Material Reciever *</label>
                                        <input type="text" value="" class="form-control required" regx="/^[0-9a-zA-Z]+$/" msg="Enter Material Reciever Name" id="OmrName">
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <label>Remark *</label>
                                        <input type="text" value="" class="form-control required" id="GPRemark">
                                    </div>
                                </div>
                            </div>

                            <div class="heading-title heading-line-double text-uppercase mt-50">
                                <h4>DETAILS OF <span>Transformer</span></h4>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    @*<div class="col-md-6 col-sm-6">
                    <label>
                        Job NO

                    </label>
                    <input type="number" name="contact[number]" class="form-control" value="001" readonly id="TjobNo">
                </div>*@

                                    <div class="col-md-6 col-sm-6">
                                        <label>
                                            Make

                                        </label>
                                        <input type="text" name="contact[number]" class="form-control" value="wnp" regx="^[0-9a-zA-Z]+$" id="TMake" msg="Enter Make">
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <label>Serial No *</label>
                                        <input type="text" name="contact[start_date]" value="" class="form-control" regx="^[0-9a-zA-Z]+$" id="TSNo" msg="Enter Serial No">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">

                                    <div class="col-md-6 col-sm-12">
                                        <label>Capacity *</label>
                                        <select name="contact[position]" class="form-control pointer required" id="TCapacity" msg="Select Capacity">
                                            <option value="">--- Select ---</option>
                                            <option value="1">25/22</option>
                                            <option value="2">63/11</option>
                                            <option value="3">63/22</option>
                                            <option value="4">100/11</option>
                                            <option value="5">100/22</option>
                                            <option value="6">200/11</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <label>Required Oil *</label>
                                        <input type="text" name="contact[start_date]" value="" class="form-control datepicker required" data-format="yyyy-mm-dd" data-lang="en" data-rtl="false" regx="^[0-9a-zA-Z]+$" id="TROil" msg="Enter Required Oil">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">



                                    <div class="col-md-6 col-sm-6">
                                        <label>
                                            Oil Received
                                            <small class="text-muted">- optional</small>
                                        </label>
                                        <input type="number" name="contact[number]" value="0" class="form-control" regx="^[0-9a-zA-Z]+$" id="TRecOil" msg="Enter Recived Oil">
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12 text-center">
                                        <input type="button" class="btn btn-primary text-uppercase " id="SaveTPass" value="ADD Transformer" />
                                    </div>


                                </div>
                            </div>

                        </fieldset>


                    </form>

                    <table class="table table-bordered table-striped table-responsive" style="display:none;">
                        <tr class="info">
                            <th>Job No</th>
                            <th>Make</th>
                            <th>Capacity</th>
                            <th>Serial No</th>
                            <th>Required Oil</th>
                            <th>Received Oil</th>
                            <th>Action</th>
                        </tr>
                        <tbody id="tbodyTRdet">
                            @*<tr>
                                    <td>166</td>
                                    <td>wnp</td>
                                    <td>100/11</td>
                                    <td>wnp</td>
                                    <td>200</td>
                                    <td>200</td>
                                    <td><a><span class="fa fa-trash"></span></a></td>
                                </tr>
                                <tr>
                                    <td>167</td>
                                    <td>vijai</td>
                                    <td>25/11</td>
                                    <td>870092</td>
                                    <td>60</td>
                                    <td>60</td>
                                    <td><a><span class="fa fa-trash"></span></a></td>
                                </tr>

                                <tr>
                                    <td>168</td>
                                    <td>wnp</td>
                                    <td>25/11</td>
                                    <td>wnp</td>
                                    <td>60</td>
                                    <td>60</td>
                                    <td><a><span class="fa fa-trash"></span></a></td>
                                </tr>

                                <tr>
                                    <td>169</td>
                                    <td>wnp</td>
                                    <td>100/11</td>
                                    <td>wnp</td>
                                    <td>200</td>
                                    <td>180</td>
                                    <td><a><span class="fa fa-trash"></span></a></td>
                                </tr>

                                <tr>
                                    <td>179</td>
                                    <td>wnp</td>
                                    <td>100/11</td>
                                    <td>wnp</td>
                                    <td>200</td>
                                    <td>150</td>
                                    <td><a><span class="fa fa-trash"></span></a></td>
                                </tr>*@

                        </tbody>
                    </table>
                    <hr />
                    <div class="row" id="divPrint" style="display:none;">
                        <div class="col-md-12 text-center">
                            <input type="button" class="btn btn-primary" value="Print" onclick="printDiv();" />
                        </div>
                    </div>
                </div>

            </div>


        </div>
    </div>

    <input id="hdfGetPassID" type="hidden" value="0" />
    <input id="hdfTranID" type="hidden" value="0" />
    
</div>

<script>


    function printDiv() {
        var gtpID = $('#hdfGetPassID').val();

        $.ajax({
            data: { GetpassdetailID: gtpID },
            type: "POST",
            dataType: "json",
            // contentType: "application/json; charset=utf-8",
            url: window.location.origin + "/PrintGetPass",
        }).done(function (result) {
            $('#Printdiv').text(result.Dlist);
            printDiv1();
            

        }).fail(function (textStatus, errorThrown) {
            debugger;
            alert(textStatus);
        });

     
    }

    function printDiv1() {
        
      
        var divToPrint = document.getElementById('Printdiv');


        var win = window.open('', '', 'left=0,top=0,width=552,height=477,toolbar=0,scrollbars=0,status =0');

        var content = "<html>";
        content += "<body onload=\"window.print(); window.close();\">";
        content += divToPrint.innerText;
        content += "</body>";
        content += "</html>";
        win.document.write(content);
        win.document.close();

        $('#Printdiv').hide();
        $('#divPrint').hide();
    }

</script>