﻿<section class="page-header page-header-xs mt-70">
    <div class="container">

        <h1 class="text-center text-uppercase">TRANSFORMERs</h1>

        <!-- breadcrumbs
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Login</li>
        </ol> /breadcrumbs -->

    </div>
</section>
<div class="defaultvw">



    <div class="row ">

        <div class="col-md-12">


            <div class="panel panel-default">

                <div class="panel-body">

                    <form>
                        <fieldset>

                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-3">
                                        <label>
                                            Select Date
                                        </label>
                                        <input type="date" id="txtsearchdt" class="form-control">
                                    </div>

                                    <div class="col-md-3 col-sm-3">
                                        <label>
                                            Job No

                                        </label>
                                        <input type="text" id="txtsearchjn" class="form-control">
                                    </div>

                                    <div class="col-md-3 col-sm-3">
                                        <label>
                                            Token No
                                        </label>
                                        <input type="text" id="txtsearchtn" class="form-control">
                                    </div>

                                    <div class="col-md-3 col-sm-3">
                                        <label>
                                            <br />
                                        </label>
                                        <input id="btnSearch" type="button" value="Search" class="btn btn-primary fa fa-trash" onclick="SearchResult();" />
                                    </div>
                                </div>
                            </div>



                            <div class="heading-title heading-line-double mt-30">
                                <h4><span>Transformers</span></h4>
                            </div>

                            <table class="table table-bordered table-striped table-responsive" style="max-height:500px;overflow:scroll;">
                                <tr class="info">
                                    <th>Job No</th>
                                    <th>Make</th>
                                    <th>Capacity</th>
                                    <th>Serial No</th>
                                    <th>Required Oil</th>
                                    <th>Recieved Oil</th>
                                    @*<th>Action</th>*@
                                </tr>
                                <tbody id="tbodySearch">
                                </tbody>
                            </table>

                            <!--Pagination-->
                            <nav aria-label="...">
                                <ul class="pagination" id="trnPagn">
                                    <li class="page-item disabled" id="pageindexPre" onclick="Paging(this.id,0);">
                                        <a class="page-link" tabindex="-1">Previous</a>
                                    </li>

                                    <li class="page-item" id="pageindex1" onclick="Paging(this.id,1);"><a class="page-link">1</a></li>
                                    <li class="page-item active" id="pageindex2" onclick="Paging(this.id,2);">
                                        <a class="page-link">2</a>
                                    </li>
                                    <li class="page-item" id="pageindex3" onclick="Paging(this.id,3);"><a class="page-link">3</a></li>
                                    <li class="page-item" id="pageindexNxt" onclick="Paging(this.id,4);">
                                        <a class="page-link">Next</a>
                                    </li>
                                </ul>
                            </nav>

                            <input id="hdfcurrentPage" type="hidden" value="1" />
                            <input id="hdfLastPage" type="hidden" value="3" />

                            <!--/Pagination-->

                            <div id="divDelTr" style="">
                                <div class="heading-title heading-line-double text-uppercase mt-50">
                                    <h4>Selected <span>Transformer</span></h4>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-3 col-sm-3">
                                            <label>
                                                Job NO

                                            </label>
                                            <input type="number" id="selJobno" class="form-control" readonly>
                                        </div>

                                        @*<div class="col-md-3 col-sm-3">
                        <label>
                            Delivery Challan No

                        </label>
                        <input type="text" id="DelChallanNo" class="form-control" value="PC/KRD/233">
                    </div>*@

                                        <div class="col-md-3 col-sm-3">
                                            <label>
                                                Delivered job No
                                            </label>
                                            <input type="text" id="delJobNo" class="form-control">
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <label>
                                                Delivered Date
                                            </label>
                                            <input type="date" id="DelDate" class="form-control">
                                        </div>
                                        <div class="col-md-3 col-sm-3">
                                            <label>
                                                <br />
                                            </label>
                                            <input id="btnDelivered" type="button" value="Delivered" class="btn btn-primary" onclick="DelTransformer();" />
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">





                                    </div>
                                </div>

                            </div>

                        </fieldset>


                    </form>


                  
                   
                </div>

            </div>


        </div>
    </div>



</div>
<script>
    $(document).ready(function () {
        $('#divDelTr').hide();
        SearchResult();
    });

    function SearchResult() {
        $('#tbodySearch').empty();

        var Date = $('#txtsearchdt').val();
        var JobNo = $('#txtsearchjn').val();
        var TokenNo = $('#Token No').val();

        var cp = $("#hdfcurrentPage").val();

        $.ajax({
            data: { Date: Date, JobNo: JobNo, TokenNo: TokenNo, currentPage: cp, PageSize: 2 },
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: window.location.origin + "/GetTrans",
        }).done(function (result) {

            var DeptData = result.Dlist.Item1;
            var row = "";
            for (var i = 0; i < DeptData.length; i++) {
                row = "<tr><td><a class='btn btn-link' onclick='GetTransformer(" + DeptData[i]["TrasfomerJob_no"] + ")' >" + DeptData[i]["Department"].DeptCode + '-' + DeptData[i]["TrasfomerJob_no"] + "</a></td><td>" + DeptData[i]["TranformerDetail"].TranfomerMake + "</td><td>" + DeptData[i]["TranformerDetail"].TransformerType + "</td><td>" + DeptData[i].TranformerDetail.TransfomerSr_no + "</td><td>" + DeptData[i]["TranformerDetail"].TransformerOilCapacity + "</td><td>" + DeptData[i].OilSupplied + "</td></tr>";
                $('#tbodySearch').append(row);

                /* <td><a onclick='printGPRect(" + result.Dlist[i]["GatePassDetail"].GatePassDetailId + ")'><span class='fa fa-print'></span></a></td>*/
            }

            var TotalCount = parseInt(result.Dlist.Item2);
            var TotalPages = parseInt(result.Dlist.Item3);
            var PageSize = parseInt(result.Dlist.Item4);

            $('#trnPagn').text('');


            var lp = TotalPages;
            if (cp > 1) {
                $('#trnPagn').append('<li class="page-item" id="pageindexPre" onclick="Paging(this.id,0);"><a class="page-link" tabindex="-1">Previous</a></li> ');

            }
            else if (cp == 1) {
                $('#trnPagn').append('<li class="page-item disabled" id="pageindexPre" onclick="Paging(this.id,0);"><a class="page-link" tabindex="-1">Previous</a></li> ');

            }
            debugger;
            for (var j = 1; j <= TotalPages; j++) {
                var list = "";
                if (j == cp) {

                    list = "<li class='page-item active' id='pageindex" + j + "'  onclick='Paging(this.id, " + j + ");'><a class='page-link'>" + j + "</a></li>";
                }
                else {
                    list = "<li class='page-item' id='pageindex" + j + "'  onclick='Paging(this.id, " + j + ");'><a class='page-link'>" + j + "</a></li>";
                }
                $('#trnPagn').append(list);

            }

            if (TotalPages == cp) {
                $('#trnPagn').append('<li class="page-item disabled" id="pageindexNxt" onclick="Paging(this.id,4);" ><a class="page-link">Next</a></li>');

            }
            else if (TotalPages > cp) {
                $('#trnPagn').append('<li class="page-item" id="pageindexNxt" onclick="Paging(this.id,4);" ><a class="page-link">Next</a></li>');

            }


        }).fail(function (textStatus, errorThrown) {
            alert(textStatus);
        });
    }

    function GetTransformer(jobNo) {

        $.ajax({
            data: { Date: "", JobNo: jobNo, TokenNo: "" },
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: window.location.origin + "/GetTrans",
        }).done(function (result) {
            debugger;
            var dt = getCurrentDate();
            $('#divDelTr').show();

            $('#selJobno').val(result.Dlist.Item1[0]["TrasfomerJob_no"]);
            $('#delJobNo').val(result.Dlist.Item1[0]["TrasfomerJob_no"]);
            $('#DelDate').val(dt);
            $('#delJobNo').focus();
            $('#delJobNo').focusin();

            /* row = "<tr><td><a class='btn btn-link' onclick='GetTransformer(" + result.Dlist[i]["TrasfomerJob_no"] + ")' >" + result.Dlist[i]["Department"].DeptCode + '-' + result.Dlist[i]["TrasfomerJob_no"] + "</a></td><td>" + result.Dlist[i]["TranformerDetail"].TranfomerMake + "</td><td>" + result.Dlist[i]["TranformerDetail"].TransformerType + "</td><td>" + result.Dlist[i].TranformerDetail.TransfomerSr_no + "</td><td>" + result.Dlist[i]["TranformerDetail"].TransformerOilCapacity + "</td><td>" + result.Dlist[i].OilSupplied + "</td><td><a onclick='printGPRect(" + result.Dlist[i]["GatePassDetail"].GatePassDetailId + ")'><span class='fa fa-print'></span></a></td></tr>";*/



        }).fail(function (textStatus, errorThrown) {
            alert(textStatus);
        });
    }

    function DelTransformer(jobNo) {
        $('#divDelTr').hide();
        $.ajax({
            data: { Date: "", JobNo: jobNo, TokenNo: "" },
            type: "GET",
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: window.location.origin + "/GetTrans",
        }).done(function (result) {
            debugger;







        }).fail(function (textStatus, errorThrown) {
            alert(textStatus);
        });
    }

    function Paging(pageID, index) {
        debugger;

        if (pageID == 'pageindexNxt') {
            if ($('#pageindexNxt').hasClass('disabled'))
                return false;
            var ind = parseInt($("#hdfcurrentPage").val()) + 1;

            $("#hdfcurrentPage").val(ind);
            index = ind;
        }
        else if (pageID == 'pageindexPre') {
            if ($('#pageindexPre').hasClass('disabled'))
                return false;
            var ind = parseInt($("#hdfcurrentPage").val()) - 1;

            $("#hdfcurrentPage").val(ind);
            index = ind;
        }
        $("#hdfcurrentPage").val(index);
        SearchResult();
        $(".active").removeClass('active');
        if (pageID != 'pageindexPre' && pageID != 'pageindexNxt')
            $("#" + pageID + "").addClass('active');

        /*$("#hdfcurrentPage").val(index)fghgf;*/





    }
</script>