﻿@model TateElectricals.DataModels.Department;
<section class="page-header page-header-xs mt-70">
    <div class="container">

        <h1 class="text-center text-uppercase">Agency</h1>

        <!-- breadcrumbs
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Login</li>
        </ol> /breadcrumbs -->

    </div>
</section>
<div class="defaultvw">


    <div class="row ">

        <div class="col-md-12">


            <div class="panel panel-default">

                <div class="panel-body">

                    <form id="DeptForm">
                        <fieldset>
                            <div class="row heading-title  heading-color heading-border-bottom">
                                <div class="col-md-8 ">
                                    <h4><span>Agency</span></h4>
                                </div>
                                <div class="col-md-4">
                                    <a id="btnAdd" class="pull-right text-capitalize btn btn-primary">add agency</a>
                                </div>

                            </div>
                            <div id="listtbl">
                                <table class="table table-bordered table-striped table-responsive">
                                    <thead>
                                        <tr class="info">
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Type </th>
                                            <th>City</th>
                                            <th>Email</th>
                                            <th>Contact</th>
                                            <th>Address</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*<tr>
                                            <td>PC-166</td>
                                            <td>wnp</td>
                                            <td>100/11</td>
                                            <td>wnp</td>
                                            <td>200</td>
                                            <td>200</td>
                                            <td>200</td>
                                            <td><a><span class="fa fa-trash"></span></a><a><span class="fa fa-edit ml-10"></span></a></td>
                                        </tr>*@
                                     
                                       
                                    </tbody>
                                </table>

                            </div>

                            <div id="additem">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-4">
                                            <label>Code *</label>
                                            <input type="text" id="Deptcode" value="" class="form-control required" regx="^[0-9a-zA-Z]+$" msg="Enter Code">
                                        </div>

                                        <div class="col-md-4 col-sm-4">
                                            <label>Name *</label>
                                            <input type="text" id="DeptName" value="" class="form-control required" regx="^[a-zA-Z ]+$" msg="Enter Valid Name">
                                        </div>
                                        <div class="col-md-4 col-sm-4">
                                            <label>Type *</label>
                                            <select id="DeptType" class="form-control pointer required" regx="^[0-9]+$" msg="Select MSED Division">

                                                <option value="1">Agency</option>
                                                <option value="2">Service</option>


                                            </select>                                           
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">

                                        <div class="col-md-4 col-sm-4">
                                            <label>City *</label>
                                            <input type="text" id="DeptCity" class="date-pick form-control required" regx="^[a-zA-Z]+$" msg="Enter Valid City Name">
                                        </div>

                                        <div class="col-md-4 col-sm-4">
                                            <label>Email *</label>
                                            <input type="text" id="DeptEmail" value="" class="form-control required" regx="^[a-zA-Z]*$" msg="Enter Valid Email">
                                        </div>

                                        <div class="col-md-4 col-sm-4">
                                            <label>Contact *</label>
                                            <input type="text" id="DeptContact" value="" class="form-control required" regx="^[0-9]+$" msg="Enter Valid Number">
                                        </div>


                                    </div>
                                </div>


                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6">
                                            <label>Address *</label>
                                            <textarea id="DeptAddress" rows="3" class="form-control" regx="^[0-9a-zA-Z ]+$" msg="Enter Valid Address"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">

                                    <div class="form-group">

                                        <div class="col-md-3 col-sm-3">
                                            <label>UserName*</label>
                                            <input type="text" name="contact[Getpass_No]" value="" class="form-control required" regx="^[0-9a-zA-Z]+$" msg="Enter Valid UserName" id="DeptUser">
                                        </div>

                                        <div class="col-md-3 col-sm-3">
                                            <label>Password *</label>
                                            <input type="password" name="contact[Date]" class="form-control required" regx="^[0-9a-zA-Z]+$" msg="Enter Valid Password" id="DeptPass">
                                        </div>


                                    </div>

                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12 text-center">

                                            <input id="btnCancel" type="button" class="btn btn-primary text-uppercase " value="Cancel" />
                                            <input type="button" class="btn btn-primary text-uppercase " value="clear" id="btnClearDept" />

                                            <input id="SaveDpt" type="button" class="btn btn-primary text-uppercase " value="Save" />
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </fieldset>


                    </form>


                </div>

            </div>


        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            GetDepartments();
            $('#additem').hide();

            $('#btnAdd').click(function (e) {
                $('#additem').show();
                $('#btnAdd').hide();
                $('#listtbl').hide();
                

            });

            $('#btnCancel').click(function (e) {
                document.getElementById('DeptForm').reset();
                $('#DeptForm').find('input,textarea').css('border', '');
                document.getElementById('SaveDpt').value = 'Save';
                ModifyDeptID = null;
                ModifyDeptUserId = null;                   
                $('#DeptForm').find('span').remove();
                $('#additem').hide();
                $('#listtbl').show();
                $('#btnAdd').show();

            });
            $('#btnClearDept').click(function (e) {
                document.getElementById('DeptForm').reset();
                $('#DeptForm').find('input,textarea').css('border', '');
                $('#DeptForm').find('span').remove();
            });

        });
    </script>
</div>