﻿<section class="page-header page-header-xs mt-70">
    <div class="container">

        <h1 class="text-center text-uppercase">Msed divisions</h1>

        <!-- breadcrumbs
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Login</li>
        </ol> /breadcrumbs -->

    </div>
</section>
<div class="defaultvw">


    <div class="row ">

        <div class="col-md-12">


            <div class="panel panel-default">

                <div class="panel-body">

                    <form id="MsedDiv">
                        <fieldset>
                            <div class="row heading-title  heading-color heading-border-bottom">
                                <div class="col-md-8 ">
                                    <h4><span>MSED Divisions</span></h4>
                                </div>
                                <div class="col-md-4">
                                    <a id="btnAdd" class="pull-right text-capitalize btn btn-primary">add <span class="text-uppercase">msed</span> division</a>
                                </div>

                            </div>
                            <div id="listtbl">
                                <table class="table table-bordered table-striped table-responsive">
                                    <thead>
                                        <tr class="info">
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Location</th>
                                            <th>City</th>
                                            <th>Email</th>
                                            <th>Contact</th>
                                            <th>Address</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @*<tr>
                    <td>PC-166</td>
                    <td>wnp</td>
                    <td>100/11</td>
                    <td>wnp</td>
                    <td>200</td>
                    <td>200</td>
                    <td>200</td>
                    <td><a><span class="fa fa-trash"></span></a><a><span class="fa fa-edit ml-10"></span></a></td>
                </tr>*@


                                    </tbody>
                                </table>

                            </div>

                            <div id="additem">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-4">
                                            <label>Code *</label>
                                            <input type="text" id="Msedcode" value="" class="form-control required"  regx="^[0-9a-zA-Z]+$" msg="Enter Valid Code">
                                        </div>

                                        <div class="col-md-4 col-sm-4">
                                            <label>Name *</label>
                                            <input type="text" id="MsedName" value="" class="form-control required" regx="^[a-zA-Z ]+$" msg="Enter Valid Name">
                                        </div>

                                        <div class="col-md-4 col-sm-4">
                                            <label>Location *</label>
                                            <input type="text" id="MsedLoc" value="" class="form-control required" regx="^[a-zA-Z]+$" msg="Enter Valid Location">
                                        </div>


                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-4">
                                            <label>City *</label>
                                            <input type="text" id="MsedCity" class="form-control required" regx="^[a-zA-Z]+$" msg="Enter Valid Citys Name">
                                        </div>

                                        <div class="col-md-4 col-sm-4">
                                            <label>Email *</label>
                                            <input type="text" id="MsedEmail" value="" class="form-control required" regx="^[0-9a-zA-Z.@@]+$" msg="Enter Valid Email">
                                        </div>

                                        <div class="col-md-4 col-sm-4">
                                            <label>Contact *</label>
                                            <input type="text" id="MsedContact" value="" class="form-control required" regx="^[0-9]+$" msg="Enter Valid Number">
                                        </div>

                                        
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6">
                                            <label>Address *</label>
                                            <textarea id="MsedAddress" rows="3" class="form-control" regx="^[0-9a-zA-Z - ,.:]+$" msg="Enter Valid Address"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12 text-center">

                                            <input id="btnCancel" type="button" class="btn btn-primary text-uppercase " value="Cancel" />
                                            <input type="button" class="btn btn-primary text-uppercase " value="clear" id="btnClearMsedDiv"/>

                                            <input type="button" class="btn btn-primary text-uppercase " value="Save" id="SaveMsedDiv" />
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </fieldset>


                    </form>


                </div>

            </div>


        </div>
    </div>


    <script type="text/javascript">
        $(document).ready(function () {
            GetMSED();
            $('#additem').hide();
            $('#btnAdd').click(function (e) {
                $('#additem').show();
                $('#btnAdd').hide();
                $('#listtbl').hide();
            });

            $('#btnCancel').click(function (e) {
                ModifyMSEDid = null;
                document.getElementById('MsedDiv').reset();
                $('#MsedDiv').find('input,textarea').css('border', '');
                $('#MsedDiv').find('span').remove();
                $('#additem').hide();
                $('#listtbl').show();
                $('#btnAdd').show();

            });
            $('#btnClearMsedDiv').click(function (e) {
                document.getElementById('MsedDiv').reset();
                $('#MsedDiv').find('input,textarea').css('border', '');
                $('#MsedDiv').find('span').remove();
            });


        });
    </script>
</div>