﻿<section class="page-header page-header-xs mt-70">
    <div class="container">

        <h1 class="text-center text-uppercase">Users</h1>

        <!-- breadcrumbs
        <ol class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li class="active">Login</li>
        </ol> /breadcrumbs -->

    </div>
</section>

<div class="defaultvw">
    <div class="row ">
        <div class="col-md-2"></div>
        <div class="col-md-12">
            <div class="panel panel-default">

                <div class="panel-body">

                    <form>
                        <fieldset>
                            <div class="row heading-title  heading-color heading-border-bottom">
                                <div class="col-md-8 ">
                                    <h4><span>Users</span></h4>
                                </div>
                                <div class="col-md-4">
                                    <a id="btnAdd" class="pull-right text-capitalize btn btn-primary">add user</a>
                                </div>

                            </div>
                            <div id="listtbl">


                            </div>

                            <div id="additem">
                                <div class="row">
                                    <div class="form-group">


                                        <div class="col-md-3 col-sm-3">
                                            <label>UserNames*</label>
                                            <input type="text" name="contact[Getpass_No]" value="" class="form-control required">
                                        </div>

                                        <div class="col-md-3 col-sm-3">
                                            <label>Password *</label>
                                            <input type="password" name="contact[Date]" class="form-control required">
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12 text-center">
                                            <input id="btnCancel" type="button" class="btn btn-primary text-uppercase " value="Cancel" />
                                            <input type="button" class="btn btn-primary text-uppercase " value="clear" />

                                            <input type="button" class="btn btn-primary text-uppercase " value="Save" />
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </fieldset>


                    </form>


                </div>

            </div>


        </div>
    </div>

</div>
<script type="text/javascript">
        $(document).ready(function () {
            $('#additem').hide();

            $('#btnAdd').click(function (e) {
                $('#additem').show();
                $('#btnAdd').hide();
                
            });

            $('#btnCancel').click(function (e) {
                $('#additem').hide();
                $('#listtbl').show();
                $('#btnAdd').show();

            });


        });
</script>