﻿<style>
       

        .page-header, .page-header-space {
            height: 100px;
        }

        .page-footer, .page-footer-space {
            height: 100px;
        }

        .page-footer {
            position: fixed;
            bottom: 0;
            width: 100%;
            border-top: 1px solid black; /* for demo */
        }

        .page-header {
            position: fixed;
            width: 100%;
            border-bottom: 1px solid black; /* for demo */
        }



        .page {
            page-break-after: always;
        }

        @page {
            margin: 20mm
        }

        @media print {
            thead {
                display: table-header-group;
            }

            tfoot {
                display: table-footer-group;
            }

            button {
                display: none;
            }

            body {
                margin: 0;
            }
        }

        .graph-7 {
            background: url(../img/graphs/graph-7.jpg) no-repeat;
        }

        .graph-image img {
            display: none;
        }
    </style>

<div class="page-header " style="text-align: center">
            <table style="width: 900px; border: 0px 1px 0px 1px solid black;margin-bottom:10px;">
                <tr>
                    <td style="width:200px;">
                        
                    </td>
                    <td style="text-align:center;"><span>CHALLAN</span></td>
                    <td style="text-align:right;">
                        <span style="font-size:small;">Subject To Baramati Jurisdiction</span>
                    </td>
                </tr>
                <tr>
                    <td align="center" style="padding-bottom:10px;">
                        
                    </td>
                    <td style="text-align:center;">
                        <span style="color: darkturquoise; font-size: 28px; font-weight: 900;">TATE ELECTRICALS</span><br />
                        <span style="color: darkturquoise; font-size: 12px; font-weight: 800; ">Manufactured of : Distribution & Power Transformers</span>
                        <br />
                        <span style="font-size: 12px; font-weight: 800; ">Factory : Plot No, D-8, M.I.D.C.,Baramati-413 133, Dist. Pune.</span>
                    </td>
                    <td></td>
                </tr>

                <tr style="border-bottom:1px solid black;">
                    <td style="padding-top:5px;"></td>
                </tr>
            </table>
            <br />
            
        </div>


        <div class="page-footer">
            <table style="width:900px;">
                <tr>
                    <td style="text-align:left;padding-left:10px;width:300px;">Receiver Signature</td>
                    <td style="text-align: center; width: 400px;"><span style="font-size:small;">Pleas sign & return one challan</span>  </td>
                    <td align="center" style="text-align: center;width:200px; ">

                        <span style="color:darkcyan;">FOR TATE ELECTRICALS</span>


                    </td>
                </tr>
                <tr>
                    <td style="text-align:left;padding-left:10px;width:300px;"></td>
                    <td style="text-align: center; width: 400px;">  </td>
                    <td align="right" style="text-align: center; ">
                        <table style="width: 100%;">

                            <tr>
                                <td style="text-align:center;">
                                    <br /><br />
                                    <span style="color:darkcyan;"> Authorised Signature</span>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

       
                    <table style="width:900px;">


                        <thead>
                            <tr>
                                <td>
                                    <div class="page-header-space"></div>
                                </td>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <td>
                                    <table>
                                        <tr>
                                            <td>


                                                <table style="width:900px;margin-bottom:10px;">
                                                    <tr>

                                                        <td style="text-align:right;font-size:16px;font-weight:600;"> Receipt No : {GatePassTokenNo}</td>
                                                    </tr>
                                                </table>
                                                <table cellspacing="3" cellpadding="3" style="width:900px;margin-bottom:10px;">

                                                    <tr>
                                                        <td>
                                                            <table>
                                                                <tr>
                                                                    <td> <strong>Order No. CE/BMTZ/T-</strong></td>

                                                                </tr>

                                                                <tr>
                                                                    <td><strong>Driver Name : </strong><span class="ml-10">{DriverName}</span></td>


                                                                </tr>
                                                                <tr>
                                                                    <td> <strong>Date : </strong><span class="ml-10">{GatePassDate}</span></td>


                                                                </tr>
                                                            </table>

                                                        </td>
                                                        <td align="right">
                                                            <table>
                                                              
                                                                <tr>
                                                                    <td> <strong>Chllan No.</strong><span class="ml-10">TE/21-22/96</span></td>
                                                                </tr>
                                                                <tr>
                                                                    <td><strong>Vehical No : </strong><span class="ml-10">{VehicalNo}</span></td>
                                                                </tr>

                                                                <!--<tr>
                                                                    <td> <strong>Date </strong><span class="ml-10">16/05/2021</span></td>
                                                                </tr>-->
                                                            </table>
                                                        </td>
                                                    </tr>


                                                </table>
                                                <hr />
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <table style="width:900px;">
                                                    <tr>
                                                        <td>
                                                            To,
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            The Executive Engineer,
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            M.S.E. Dist. Co. Ltd.  - Mulashi
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td align="center" style="text-align:center;">
                                                            Please receive in good condition the following
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <table border="1" style="width:900px; border-spacing:0px;border:1px solid grey;">
                                                    <tr>
                                                        <td style="text-align:center;width:100px;">Job No.</td>
                                                        <td style="text-align: center; ">Make</td>
                                                        <td style="text-align: center; ">Capacity</td>
                                                        <td style="text-align: center; ">Serial No.</td>
                                                        <td style="text-align: center; ">Required Oil</td>
                                                        <td style="text-align: center;">Received Oil</td>
                                                    </tr>
                                                    TransformerRows
                                                    
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>


                        </tbody>

                        <tfoot>
                            <tr>
                                <td>

                                    <div class="page-footer-space"></div>
                                </td>
                            </tr>
                        </tfoot>

                    </table>
