﻿<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript">
        function preventBack() { window.history.forward(); }
        setTimeout("preventBack()", 0);
        window.onunload = function () { null };
    </script>
    <meta charset="utf-8" />
    <title>Tate Electricals</title>
    <meta name="description" content="" />
    <meta name="Author" content="Dorin Grigoras [www.stepofweb.com]" />

    <!-- mobile settings -->
    <meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
    <!-- WEB FONTS : use %7C instead of | (pipe) -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" />

    <!-- CORE CSS -->
    <link href="/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <!-- THEME CSS -->
    <link href="/assets/css/essentials.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/layout.css" rel="stylesheet" type="text/css" />

    <!-- PAGE LEVEL SCRIPTS -->
    <link href="/assets/css/header-1.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/color_scheme/green.css" rel="stylesheet" type="text/css" id="color_scheme" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>
        .custgrdt {
            background-image: linear-gradient(182deg, rgba(175, 120, 76, 0.6) 0%, rgba(84, 163, 163, 0.13) 68%);
        }
    </style>
</head>


<body class="smoothscroll enable-animation">

    
    <!-- wrapper -->
    <div id="wrapper" style="background-image: url('https://localhost:44397/assets/images/LoginBg.jpg');background-size:cover; ">
       
      
        <div id="header" class="clearfix transparent" style="border-bottom:none;">

            <!-- TOP NAV -->
            <header id="topNav">
                <div class="container">

                    <!-- Mobile Menu Button -->
                    <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- BUTTONS -->
                    <!-- /BUTTONS -->
                    <!-- Logo -->
                    <a class="logo pull-left" href="index.html">
                        <img src="assets/images/_smarty/logo_dark.png" alt="" style="max-width:118px;"/>
                    </a>

                    <!--
                        Top Nav

                        AVAILABLE CLASSES:
                        submenu-dark = dark sub menu
                    -->


                </div>
            </header>
            <!-- /Top Nav -->

        </div>


        
        
       
        <div class="margin-top-150">
            <div class="container">

                <div class="row">

                    <div class="col-md-6 col-md-offset-3">

                        <!-- ALERT -->
                        <div class="alert alert-mini alert-danger margin-bottom-30" id="msg">
                            <strong>Oh snap!</strong> Login Incorrect!
                        </div><!-- /ALERT -->

                        <div class="box-border-top padding-30 custgrdt" >
                            <div class="box-title margin-bottom-30">
                                <h2 class="size-20 text-white">User Credentials</h2>
                            </div>

                            <form class="nomargin" action="#" autocomplete="off">
                                <div class="clearfix">

                                    <!-- Email -->
                                    <div class="form-group">
                                        <input type="text" name="email" class="form-control" placeholder="User Name" value="pc" required="">
                                    </div>

                                    <!-- Password -->
                                    <div class="form-group">
                                        <input type="password" name="password" class="form-control" placeholder="Password" value="1234" required="">
                                    </div>

                                </div>

                                <div class="row">

                                    <div class="col-md-6 col-sm-6 col-xs-6">

                                        <!-- Inform Tip -->
                                        <div class="form-tip pt-20">
                                            <a class="no-text-decoration size-13 margin-top-10 block" href="#">Forgot Password?</a>
                                        </div>

                                    </div>

                                    <div class="col-md-6 col-sm-6 col-xs-6 text-right">

                                        <input type="button" class="btn btn-primary" onclick="Login();" value="LOG IN" />

                                    </div>

                                </div>

                            </form>

                        </div>



                    </div>
                </div>

            </div>
        </div>
        



        

    </div>
    <!-- /wrapper -->
    <!-- SCROLL TO TOP -->
    <a href="#" id="toTop"></a>


    <!-- PRELOADER -->
    <div id="preloader">
        <div class="inner">
            <span class="loader"></span>
        </div>
    </div><!-- /PRELOADER -->
    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript">var plugin_path = 'assets/plugins/';</script>
    <script type="text/javascript" src="/assets/plugins/jquery/jquery-2.2.3.min.js"></script>

    <script type="text/javascript" src="/assets/js/scripts.js"></script>

    <!-- STYLESWITCHER - REMOVE -->
    <script async type="text/javascript" src="/demo_files/styleswitcher/styleswitcher.js"></script>
</body>
</html>
<script type="text/javascript">

    $(document).ready(function () {
        $('#msg').css("display", "none");


    });

  

    function Login() {
        debugger;
        var Name = $('input[name=email]').val();
        var Pass = $('input[name=password]').val();
        $.ajax({
            data: {uName: Name,uPass: Pass},
            type: "POST",
            dataType: "json",
           // contentType: "application/json; charset=utf-8",
            url: "Home/LoginModel"
        }).done(function (result) {
            debugger;

            var res = result.IsLoggedIn;
         //   var aa = result["isLoggedIn"];

            if (res == 'Agency') {
                window.location.href = '@Url.Action("HomePage", "BasicOperations")';
                
            }
            else if (res == 'Admin') {
                window.location.href = '@Url.Action("AdminHome", "BasicOperations")';
            }
            else {
                $('#msg').css("display", "block");
                $('#msg').empty().append('Invalid user credentials');
            }
        }).fail(function (textStatus, errorThrown) {

            alert(textStatus);
        });
    }


</script>